AWS_REGION=eu-west-2
TF_ENVIRONMENT=prod
TF_LAYER=4-application
TF_STATE_BUCKET=replace-with-your-state-bucket
TF_LOCK_TABLE=replace-with-your-lock-table
GITHUB_REPOSITORY_OWNER=your-github-org
GITHUB_REPOSITORY_NAME=aws-terraform-cost-efficient-production-infra
